:root {
    --color-blue: #4286f5;
    --color-green: #109d58;
    --color-red: #ea4235;
    --color-yellow: #fabd03;
    --color-black: #484a52;
    --color-scrollbar-background: #f3f2f7;
  }
  
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  ::-webkit-scrollbar,
  ::-webkit-scrollbar-track {
    background: var(--color-green);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--color-green);
    border-radius: 3px;
  }
  
  ::-webkit-scrollbar,
  ::-webkit-scrollbar-track {
    background: var(--color-scrollbar-background);
  }
  
  @font-face {
    font-family: google-sans;
    src: url(../font/google-font.woff2);
    font-display: swap;
  }